.NYC{
	font-size:50px;
	text-align: center;
	color: #ff0000;
	font-family: Georgia, serif;
	font-weight: bold;
}

body{
	color: #ff0000;
	font-family: Georgia, serif;
	font-weight: bold;

	
}

.container{
	padding:30px;
}

#newyork{
	text-align: center;
	margin-bottom: 50px;
	padding:30px;
}

h3 {
	text-align: center;
	color: #ff0000;
	
}

#answers {
	background-color: white;

}

#startButton {
	background-color: #ff0000;
	color: black;
	border-color: #ff0000
}

img {
	/*float: right;*/
}

.card-body {
	margin-bottom: 100px;
	/*background-color: grey;*/
}




